<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MusicBandAppEntities" connectionString="data source=31.147.204.119\PISERVER,1433;initial catalog=17055_DB;persist security info=True;user id=17055_User;password=e3zzDyBG;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>